.page-legal {

    .block-legal {
        .side-nav {

            position: absolute;
            right: 0;
        
            ul {
                border-left: solid 3px $black;
            }
        
        }
        
        .fixed {
            position: fixed;
            right: 0;
            top: 0;
        }
    }

}