.navbar {
    
    width: 100%;

    a {
    	color: $black;
    	transition-property: all;
    	transition-timing-function: linear;
    	transition-duration: .1s;
    	border-bottom: solid 2px $transparent;
    	line-height: 1;

        &:hover {
            border-bottom: solid 2px $black;
        }

        &.active {
            border-bottom: solid 2px $black;
        }
    }

}
