<div style="background-image: url('{{ backgroundImage.backgroundUrl.one.url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="block-header row m-auto container py-5">
		<div class="col-sm-7 mx-auto my-5 text-center">
			<h1>{{ block.blockTitle }}</h1>
			<input class="mt-4 btn btn-dark btn-lg" type="button" value="Shop Now" name="">
		</div>
    	<div class="col-sm-5 m-auto text-center">
    		<img src="{{ block.heroHeaderImage.one.url }}" alt="">
    	</div>
	</div>
</div>
