<div class="container-fluid mt-5 bg-dark">
    <div class="container row m-auto py-5">
        <div class="col pb-5">
            <a href="#top">
                <h1 class="text-center text-light mb-2 lg-f">Oliver West</h1>
            </a>
            <hr class="underline my-0 bg-light">
        </div>
        <div class="col pb-5 border-left border-right">
            <ul class="mt-3">
                <li>
                    <a class="text-light" href="#">Services</a>
                </li>
                <li>
                    <a class="text-light" href="#">Contact</a>
                </li>
                <li>
                    <a class="text-light" href="#">Shop</a>
                </li>
                <li>
                    <a class="text-light" href="legal">Legal</a>
                </li>
            </ul>
        </div>
        <div class="col pb-5">
            <h1 class="text-light">Follow us</h1>
            <div class="d-flex">
                <div>
                    <a class="text-light" href="{{ socialMedia.twitterUrl }}" target="_blank"><b class="fab fa-twitter fa-lg"></b></a>
                </div>
                <div class="mr-4 ml-4">
                    <a class="text-light" href="{{ socialMedia.instagramUrl }}" target="_blank"><b class="fab fa-instagram fa-lg"></b></a>
                </div>
                <div>
                    <a class="text-light" href="{{ socialMedia.pinterestUrl }}" target="_blank"><b class="fab fa-pinterest fa-lg"></b></a>
                </div>
            </div>
            <form action="" class="inline">
                <h1 class="text-light">Subscribe to our newsletter</h1>
                <div class="d-flex mt-4">
                    <input type="text">
                    <input type="submit" value="Send" class="btn btn-light">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center py-2 bg-dark-2">
    <p class="text-light">© 2018 Copyright - All Rights Reseved Site By - Zikisa Cale Sogaxa</p>
</div>