<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title> {{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" />

</head>

<div class="block-top-banner py-2 mb-3">
    <div class="d-flex justify-content-center">
        <div>
            <a href="{{ socialMedia.twitterUrl }}" target="_blank"><b class="fab fa-twitter fa-lg"></b></a>
        </div>
        <div class="mr-4 ml-4">
            <a href="{{ socialMedia.instagramUrl }}" target="_blank"><b class="fab fa-instagram fa-lg"></b></a>
        </div>
        <div>
            <a href="{{ socialMedia.pinterestUrl }}" target="_blank"><b class="fab fa-pinterest fa-lg"></b></a>
        </div>
    </div>
</div>

<body id="top">

    <main role="main" class="page-{{craft.app.request.segments|first}}">
        {% block content %} {% endblock %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>

</body>
</html>
